
body{
    background-color: rgb(212, 190, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    position: relative;
    height: 200px;
    width: 800px;
    /* border: 2px solid black;   */
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    background-color: antiquewhite;
    box-shadow: 0 0 50px 15px #48abe0,
    0 0 10px 5px #48abe0,
    0 0 20px 7px #ebecca,
    0 0 25px 20px #8a2be2,
    0 0 30px 25px #ff1493;
    
    
}



#main{
    display: flex;
}
h1{
    font-family: cursive;
    text-decoration: underline;
    color: crimson;
}
.input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid orange;
    background-color: azure;
}
.btn{
    border-radius: 10px;
    height:30px ;
    width:80px ;
    border: 2px solid orange;
    
}
.reset{
    border-radius: 10px;
    height:30px ;
    width:80px ;
    border: 2px solid orange;
}
.wrng{
    font-size: larger;
    font-family: cursive;
    color: blueviolet;
    
}
.guess{
    font-size: larger;
    font-family: cursive;
    color: brown;
}